<main class="h-[90vh] w-[100%] flex justify-center items-center">

    <table class="border w-[70%] text-center">
        <thead class="text-sky-500">
            <th class="border p-[5px]">Marca</th>
            <th class="border">Modelo</th>
            <th class="border">Ano de fabrico</th>
            <th class="border">Preço</th>
            <th class="border">Nome do Proprietário</th>
            <th>Acções</th>
        </thead>
        <tbody>
            {{#each registro}}
            <tr class="" style="transition: background-color 1s;">
                <form action="/apagar-dados/{{id}}" method="post">

                    <td class="border p-[10px] " style="transition: background-color 1s;">
                        <input type="text" name="marca"
                            class="border-sky-200 border-[2px] focus:outline-none w-[95%] h-[35px] rounded px-[10px]"
                            value="{{marca}}">
                    </td>

                    <td class="border" style="transition: background-color 1s;">
                        <input type="text" name="modelo"
                            class="border-sky-200 border-[2px] focus:outline-none w-[95%] h-[35px] rounded px-[10px]"
                            value="{{modelo}}">
                    </td>

                    <td class="border " style="transition: background-color 1s;">
                        <input type="number" name="ano"
                            class="border-sky-200 border-[2px] focus:outline-none w-[95%] h-[35px] rounded px-[10px]"
                            value="{{ano_de_fabrico}}">
                    </td>

                    <td class="border " style="transition: background-color 1s;">
                        <input type="text" name="preco"
                            class="border-sky-200 border-[2px] focus:outline-none w-[95%] h-[35px] rounded px-[10px]"
                            value="{{preco}}">
                    </td>

                    <td class="border" style="transition: background-color 1s;">
                        <input type="text" name="Proprietario"
                            class="border-sky-200 border-[2px] focus:outline-none w-[95%] h-[35px] rounded px-[10px]"
                            value="{{proprietario}}">
                    </td>

                    <td class="border bg-white w-[140px]">
                        <a href="/apagar-dados/{{id}}">
                            <button class="bg-red-500 w-[120px] h-[35px] rounded te hover:bg-red-700 text-white">Apagar<button>
                        </a>
                    </td>
                </form>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>